{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success btn-sm" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_posts_index') }}" class="btn btn-primary btn-sm">Back to the list</a>
        </li>
    </ul>

</div>
{% endblock %}
